apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{certificate_authority_data.stdout}} 
    server: https://{{master_ip}}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{user}} 
  name: {{user}}@kubernetes
current-context: {{user}}@kubernetes 
kind: Config
preferences: {}
users:
- name: {{user}} 
  user:
    client-certificate-data: {{client_certificate_data.stdout}} 
    client-key-data: {{client_key_data.stdout}} 
